<%- include ('../../parts/head.ejs') %>
<%- include ('../../parts/menu.ejs') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <a href="/admin/articles/new"><button class="btn btn-success">Novo artigo</button></a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ctegoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach((article) =>{ %>
            <tr>
                <td> <%=  article.id %> </td>
                <td> <%=  article.title %> </td>
                <td> <%=  article.slug %> </td>
                <td> <%=  article.category.title %> </td>
                <td>
                    <a href="/admin/categories/edit/<%= article.id %>">
                        <button class="btn btn-warning">Editar</button></a>
                    <form method="POST" action="/articles/delete" onsubmit="comfirmDelete(event, this)"
                        style="display: inline;">
                        <input type="hidden" name="id" value="<%=  article.id %>">
                        <button class="btn btn-danger" type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include ('../../parts/footer.ejs') %>